<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    
  </div>

  <!-- Content Row -->
  <div class="row">

    <ng-container *ngIf="role == 'admin'">
      <ng-container *ngIf="countLoaded">
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    Clusters
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                    {{ count.data.platform }}
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Sellers</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                    {{ count.data.seller }}
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tender Request</div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                        {{ count.data.tender_request }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                    Buyer
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                    {{ count.data.buyer }}
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-comments fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
    
      </ng-container>
    </ng-container>

    <ng-container *ngIf="role == 'leader'">
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                  Sellers
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  {{ sellerCountByPlatform }}
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                  Varieties
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  {{ varietiesCountByPlatform }}
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>


    <!-- <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Today Price Rate(Tzs/Kg)
          </h6>       
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>S/N</th>
                <th>Vareity</th>
                <th>Price (TZS)</th>
                <th>Region</th>
                <th>Effective Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let price of priceRate?.data; let i = index">
                <td>
                  {{ i + 1 }}
                </td>
                <td>
                  {{ price.variety }}
                </td>
                <td>
                  {{  price.price_rate }}
                </td>
                <td>
                  {{ price.region }}
                </td>
                <td>
                  {{ price.date | date:'longDate' }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->

  </div>
  

  