<div class="mt-5 vh-100 container">
  <div class="d-flex justify-content-center">
    <div style="margin-top: 30px">
      <button
        class="btn-outline-success btn"
        style="width: 100px"
        (click)="backClicked()"
        *ngIf="en"
      >
        < Back
      </button>
      <button
        class="btn-outline-success btn"
        style="width: 150px"
        (click)="backClicked()"
        *ngIf="!en"
      >
        < Rudi Nyuma
      </button>
      <div class="card" style="width: 80rem; margin: 20px 0 20px 0">
        <div class="card-header d-flex justify-content-between">
          <h3 *ngIf="en">Sellers</h3>
          <h3 *ngIf="!en">Wauzaji</h3>
          <button
            *ngIf="en"
            class="btn btn-primary"
            [disabled]="!allowGiveAll"
            (click)="openModalForMultipleSellers(tenderToMultipleSellersModal)"
          >
            Give Tender to All
          </button>
          <button
            *ngIf="!en"
            class="btn btn-primary"
            [disabled]="!allowGiveAll"
            (click)="openModalForMultipleSellers(tenderToMultipleSellersModal)"
          >
            Toa Tenda kwa wote
          </button>
        </div>
        <div class="card-body p-5">
          <table
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
            class="row-border hover"
          >
            <thead *ngIf="en">
              <tr>
                <th>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      (click)="checkAll()"
                    />
                  </div>
                </th>
                <th>Name</th>
                <th>Platform Name</th>
                <th>Application Category</th>
                <th>Location</th>
                <th>TBS Certified</th>
                <th></th>
              </tr>
            </thead>
            <thead *ngIf="!en">
              <tr>
                <th>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      (click)="checkAll()"
                    />
                  </div>
                </th>
                <th>Jina kamili</th>
                <th>Jina la Jukwaa</th>
                <th>Aina ya ombi</th>
                <th>Eneo</th>
                <th>Imethibitishwa na TBS</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let seller of sellers">
                <td>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [checked]="seller.selected"
                      (change)="addSellerViaCheckBox(seller)"
                    />
                  </div>
                </td>
                <td>
                  {{ seller.full_name }}
                </td>
                <td>
                  {{ seller.platform_name }}
                </td>
                <td>
                  {{ seller.application_type }}
                </td>
                <td>
                  {{ seller.location }}
                </td>
                <td>
                  {{ seller.is_tbs_certified }}
                </td>
                <td>
                  <button
                    class="btn btn-outline-success"
                    *ngIf="en"
                    (click)="giveTender(seller, tenderToSellersModal)"
                  >
                    Give tender
                  </button>
                  <button
                    class="btn btn-outline-success"
                    *ngIf="!en"
                    (click)="giveTender(seller, tenderToSellersModal)"
                  >
                    Toa tenda
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Give tender to seller Modal -->
<ng-template #tenderToSellersModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" *ngIf="en">Give Tender</h4>
    <h4 class="modal-title" id="modal-basic-title" *ngIf="!en">Toa Tenda</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="giveTenderForm" (ngSubmit)="sendGiveTenderReq()">
      <div class="form-row mb-3">
        <div class="col">
          <label for="" *ngIf="en">Quantity</label>
          <label for="" *ngIf="!en">Idadi</label>
          <input
            type="number"
            class="form-control"
            formControlName="quantity"
          />
        </div>
        <div class="col">
          <label for="" *ngIf="en">Grade</label>
          <label for="" *ngIf="!en">Daraja</label>
          <select class="form-control" formControlName="grade">
            <option value="" disabled selected *ngIf="en">Grade</option>
            <option value="" disabled selected *ngIf="!en">Daraja</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="Ungraded" *ngIf="en">Ungraded</option>
            <option value="Ungraded" *ngIf="!en">Hamna daraja</option>
          </select>
        </div>
      </div>
      <div class="form-row mb-3">
        <div class="col">
          <label for="" *ngIf="en">Pickup Location</label>
          <label for="" *ngIf="!en">Eneo la kubebea mzigo</label>
          <input type="text" class="form-control" formControlName="location" />
        </div>
        <div class="col">
          <label for="" *ngIf="en">Variety</label>
          <label for="" *ngIf="!en">Aina ya mchele</label>
          <input
            type="text"
            [(ngModel)]="varietyName"
            formControlName="variety"
            disabled
            class="form-control"
          />
        </div>
      </div>

      <div class="form-group mt-3 text-center">
        <button class="btn btn-success" *ngIf="en" type="submit">
          Send Tender Request
        </button>
        <button class="btn btn-success" *ngIf="!en" type="submit">
          Tuma ombi la tenda
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Give tender to multiple sellers Modal -->
<ng-template #tenderToMultipleSellersModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" *ngIf="en">Give Tender</h4>
    <h4 class="modal-title" id="modal-basic-title" *ngIf="!en">Toa Tenda</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form
      [formGroup]="giveTenderForm"
      (ngSubmit)="giveTenderRequestsToMultiple()"
    >
      <div class="form-row mb-3">
        <div class="col">
          <input
            type="number"
            *ngIf="en"
            placeholder="Quantity"
            class="form-control"
            formControlName="quantity"
          />
          <input
            type="number"
            *ngIf="!en"
            placeholder="Idadi"
            class="form-control"
            formControlName="quantity"
          />
        </div>
        <div class="col">
          <select class="form-control" formControlName="grade">
            <option value="" disabled selected *ngIf="en">Grade</option>
            <option value="" disabled selected *ngIf="!en">Daraja</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="Ungraded" *ngIf="en">Ungraded</option>
            <option value="Ungraded" *ngIf="!en">Hamna daraja</option>
          </select>
        </div>
      </div>
      <div class="form-row mb-3">
        <div class="col">
          <input
            type="text"
            placeholder="Pickup location"
            *ngIf="en"
            class="form-control"
            formControlName="location"
          />
          <input
            type="text"
            placeholder="Eneo la kuchukua mzigo"
            *ngIf="!en"
            class="form-control"
            formControlName="location"
          />
        </div>
        <div class="col">
          <label for="" *ngIf="en">Variety</label>
          <label for="" *ngIf="!en">Aina ya mchele</label>
          <input
            type="text"
            [(ngModel)]="varietyName"
            formControlName="variety"
            class="form-control"
            disabled
          />
        </div>
      </div>

      <div class="form-row mb-3 d-flex justify-content-center">
        <p *ngIf="en">{{ numberOfSellersChosen.length }} were chosen</p>
        <p *ngIf="!en">{{ numberOfSellersChosen.length }} wamechaguliwa</p>
      </div>

      <div class="form-group mt-3 text-center">
        <button class="btn btn-success" type="submit" *ngIf="en">
          Send Tender Request to Multiple Buyers
        </button>
        <button class="btn btn-success" type="submit" *ngIf="!en">
          Tuma ombi la tenda kwa Wanunuaji Tofauti
        </button>
      </div>
    </form>
  </div>
</ng-template>
