<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Marketing Banners</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex justify-content-end">
      <button class="btn btn-primary">
          Add new banner
      </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th>S/N</th>
            <th>Image Name</th>
            <th>Image</th>
            <th>Uploaded Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
